{% macro cpitems(categories, categories_info, parts, oop_display, oop_opened) %}
    {% for key, category in categories %}
        <li>
            <a href="{{ categories_info[key].href }}"  {% if key in parts %} {% if key == parts | last %}  class="oop_cls_a_active" {% else %} class="oop_cls_a_prev_active"  {% endif %} {% endif %}>
                {% for i in 0 .. categories_info[key].level %}  {% if i %}  -  {% endif %} {% endfor %} {{ categories_info[key].name }}
                {% if category | length > 0 %} <div class="oop_cls_div_exp">{% if (key in parts) or ((oop_display == 1) and (oop_opened > 0) and (categories_info[key].level in range(0, oop_opened - 1))) or (oop_display == 2) %}-{% else %}+{% endif %}</div> {% endif %}
            </a>
            {% if category | length > 0 %}
                <ul {% if (key in parts) or ((oop_display == 1) and (oop_opened > 0) and (categories_info[key].level in range(0, oop_opened - 1))) or (oop_display == 2) %} style="display:block;" {% endif %}>
                    {{ _self.cpitems(category, categories_info, parts, oop_display, oop_opened) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<div id="oop_cls_div_cont">
  <ul id="oop_ul_cats">
    <li style="border:none;">
       <ul style="display:block;">
           {{ _self.cpitems(categories.categories, categories.categories_info, parts, oop_display, oop_opened) }}
      </ul>
    </li>
  </ul>
</div>

<script type="text/javascript"><!--
$(function(){
  $("#oop_ul_cats .oop_cls_div_exp").click(function(e) {
      e.preventDefault();
      e.stopPropagation();
      if($(this).html()=="+") { $(this).html("-"); } else { $(this).html("+"); }
      var subli = $(this).closest("li").find('> ul');
      if(subli.length) subli.slideToggle(200);
  });
});
//--></script>
